<%#index.html.erb%>

<h1>Welcome</h1>

<div class="homepage-button">
  <p class="homepage-button1"><%= link_to "Add A Trip", new_trip_path %></p>

  <p class="homepage-button2"><%= link_to "Manage Drivers", drivers_path%></p>

  <p class="homepage-button3"><%= link_to "Manage Passengers", passengers_path%></p>
</div>

