<%#index.html.erb%>

<h1>Welcome</h1>
<p class="request-button"><%= link_to "Request A Trip", new_trip_path %></p>

<p><%= link_to "Add A Trip", new_trip_path %></p>

<p><%= link_to "Manage Drivers", drivers_path%></p>

<p><%= link_to "Manage Passengers", passengers_path%></p>
