<h2>Trips list</h2>
<% if @trips.length > 0 %>

<!--  To connect Driver ID, passenger ID, Date , rating and Cost-->
  <ul>
    <% @trips.each do |trip| %>
      <li> <%= link_to  trip.id, trip_path(trip) %></li>
    <% end %>
  </ul>

<% else %>
  <h3>No trip</h3>
<% end %>

<p class="buttons">
  <%= link_to "Add a New Passenger", new_trip_path %>
</p>