<div class="index">

    <div>
      <p class="mini-title"><%= link_to('View drivers', drivers_path) %></p>
      <p class="info">View legal name, vehicle identification number, average rating, and status.</p>
    </div>

    <div>
      <p class="mini-title"><%= link_to('Sign up as a driver', new_driver_path) %></p>
      <p class ="info">Simple & easy registration!</p>
    </div>

    <div>
      <p class="mini-title"><%= link_to('View passengers', passengers_path) %></p>
      <p class="info">View legal name, telephone information, and total amount spent on the app</p>
    </div>

    <div>
      <p class="mini-title"><%= link_to('Sign up as a passenger', new_passenger_path) %></p>
      <p class="info">Quick & secure registration!</p>
    </div>

</div>



