<h1>HOMEPAGE</h1>

<p>Welcome to our RideShare app!  </p>

<div>
  # of Drivers: <%= @driver_count %>
</div>
<div>
  # of Available Drivers: <%= @available_drivers %>
</div>
<div>
  # of Unavailable Drivers: <%= @unavailable_drivers %>
</div>
<div>
  # of Passengers: <%= @passenger_count %>
</div>
<div>
  # of Trips: <% @trip_count %>
</div>
<div>
  Average Rating: <% @average_rating %>
</div>
<div>
  Total Revenue:
</div>

<p></p>