<div class="homepage">
    <ul class="hp-box">
        <li><%= link_to "Create New Driver Account", new_driver_path %></li>
        <li><%= link_to "Create New Passenger Account", new_passenger_path %></li>
    </ul>
    <ul class="hp-img">
        <li><%= image_tag "hp-img.jpg" %></li>
    </ul>
</div>