<h1>Rails Ride Share Homepage</h1>
<p><%=link_to "View all riders", passengers_path %></p>
<p><%=link_to "View all drivers", drivers_path %></p>
<p><%=link_to "Create new rider",new_passenger_path%></p>
<p><%link_to "Create new driver", new_driver_path %></p>

