<h1>Homepage</h1>

<%= link_to "View all passengers", passengers_path %>
<%= link_to "View all drivers", drivers_path %>
<%= link_to "Create new passenger", new_passenger_path %>
<%= link_to "Create new driver", new_driver_path %>
