<div>
  <h1>Request a ride!</h1>
</div>


<!--<div>-->
<!--  <ul>-->
<!--    <li>-->
      <%#= link_to "All Passenger", passengers_path, method: :get %>
<!--    </li>-->
    <%#= link_to "All Drivers", drivers_path, method: :get %>

    <%#= link_to "Create New Passenger Account", edit_passenger_path(passenger) %>
    <%#= link_to "Create new Driver Account",  edit_driver_path(drivers) %>

<!--  </ul>-->
<!--</div>-->

