<main>

  <section>
    <h1><3<3<3 Welcome to RideShare <3<3<3</h1>
    <div class="rideshare-image">
      <%= image_tag "rideshare.png", alt: "rideshare", class: "rideshare" %>
    </div>

  </section>
</main>