<h1>Rideshare Rails</h1>

<p>Rideshare stats at a glance:</p>
<ul>
  <li>Total Number of Passengers: <%= Passenger.count %></li>
  <li>Total Number of Drivers: <%= Driver.count %></li>
  <li> Total Number of Trips: <%= Trip.count %>...and counting!</li>
</ul>