<h1>HOMEPAGE!</h1>

<p>Hello, Ridesharers!</p>
<p>Here's a quick look at our company stats:</p>
<ul>
<li>Total Number of Passengers in Database: <%= Passenger.count %></li>
<li>Total Number of Drivers in Database: <%= Driver.count %></li>
  <li> Total Number of Trips: <%= Trip.count %>...and counting!</li>
</ul>