<div>
    <ul>
        <li><%= link_to "View all Driver", drivers_path %></li>
        <li><%= link_to "Create a New Driver", new_driver_path %></li>
        <li><%= link_to "View all Passenger", passengers_path %></li>
        <li><%= link_to "Create a New Passenger", new_passenger_path %></li>
    </ul>
</div>