<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>RideShareRails</title>
</head>
<div>
  <nav class="nav">
    <ul class="menu">
      <li> <a href="app/views/drivers/index.html.erb">Drivers</a> </li>
      </li>
    </ul>
  </nav>
</html>