
<div class="homepage">
    <div class="column">
      <div class="img">
      <img src="/images/driver.jpg" alt="driver" />
      <h3><%= link_to "Manage Drivers", drivers_path %></h3>
    </div>
    </div>

    <div class="column">
    <div class="img">
      <img src="/images/passenger.jpg" alt="passenger" />
      <h3><%= link_to "Manage Passengers", passengers_path %></h3>
    </div>
    </div>

    <div class="column">
    <div class="img">
      <img src="/images/ride.jpg" alt="trip" />
      <h3><%= link_to "Manage Trips", trips_path %></h3>
    </div>
  </div>
</div>
