<div class="scroll-top"></div>

<h2 class="form-header">EDIT PASSENGER - <%= @passenger.name.upcase %></h2>

<div class="passenger-form">

  <%= render partial: "form", locals: { action_name: "EDIT" } %>

</div>

<div class="bottom-passenger"></div>
