<%#edit.html.erb%>

<header>
  <h1>PASSENGERS</h1>
</header>

<main>
  <h2>EDIT PASSENGER</h2>

  <%= render partial: "form", locals: { action_name: "EDIT" } %>

</main>

<footer>
  <div id="footer">
    <h2>&#169; Kalki and Schanen 2020</h2>
  </div>
</footer>