<h1>Passengers</h1>
<% if @passengers.length > 0 %>
  <ul>
    <% @passengers.each do |passenger| %>
      <li> <%= passenger.name %>, <%= passenger.phone_num %> </li>
    <% end %>
  </ul>
<% else %>
  <p>No passengers in database</p>
<% end %>
