<h1>PASSENGERS</h1>

<table style="width:50%">
  <tr>
    <th>Passenger ID</th>
    <th>Name</th>
    <th>Phone Number</th>
  </tr>
  <% @passengers.each do |passenger| %>
    <tr>
      <td><%=  "#{passenger.id}"%> </td>
      <td><%=  "#{passenger.name}" %> </td>
      <td><%=  "#{passenger.phone_num}" %> </td>
    </tr>
  <% end %>
</table>