<h3>Please provide the following information to create a new Rider account.</h3>
<%= form_with model: @passenger do |f| %>
  <div>
    <label>Name</label>:
    <%= f.text_field :name %>
  </div>
<br>
  <div>
    <label>Phone</label>:
    <%= f.text_field :phone_num %>
  </div>

  <br>
  <%= f.submit "Create New Rider" %>
<% end %>
<br>
<hr />



