<div class="scroll-top"></div>


<h2 class="form-header">ADD PASSENGER</h2>

<div class="passenger-form">

  <%= render partial: "form", locals: { action_name: "NEW"} %>

</div>

<div class="bottom-passenger"></div>



