<h2> Passenger details page </h2>
<p></p>
<h3>This is <%= @passenger.name %> passenger page</h3>
<p>Passenger's name: <%= @passenger.name %></p>
<p>Passenger's phone number: <%= @passenger.phone_num %></p>