<h2> Passenger Details </h2>

<p>Passenger ID: <%= @passengers.id %></p>
<p>Passenger Name: <%= @passengers.name %></p>
<p>Passenger Phone Number: <%= @passengers.phone_num %></p>

<p><%= link_to "Return to Home", passengers_path %></p>

