<h1>Passenger: <%= @passenger[:name] %></h1>
<h3>Your phone number is: <%= @passenger[:phone_num] %></h3>
<h3> Passenger id is: <%= @passenger[:id] %></h3>


<h4>Trip cost: $<%= @passenger.passenger_cost %> </h4>

