<h1>PASSENGER SHOW PAGE</h1>

<%= link_to "All Passengers", passengers_path, method: :get %>
<br /><br />
<%= @passenger.name + " - " + @passenger.phone_num %>
<%= button_to "Edit", edit_passenger_path(@passenger.id), method: :get %>
<%= button_to "Delete Passenger", passenger_path(@passenger.id), method: :delete, data: {confirm: "Are you sure?" } %>