<h2> Welcome to the RideShare App!</h2>
<ul>
  <li><%= link_to "View all passengers", passengers_path %></li>
  <li><%= link_to "Create new passenger", new_passenger_path %></li>
  <p></p>
  <li><%= link_to "View all drivers", drivers_path %></li>
  <li><%= link_to "Create new driver", new_driver_path %></li>

</ul>