<h2>Edit Driver</h2>

<% if @driver.errors.any? %>
  <ul class="errors">
    <% @driver.errors.each do |column, message| %>
      <li><strong><%= column %></strong> <%= message %></li>
    <% end %>
  </ul>
<% end %>

<p>Please provide the following information to update your driver:</p>

<%= render partial: "form", locals: { action_name: "Edit" } %>