<h1>DRIVERS</h1>

<table>
  <tr>
    <th>Driver ID</th>
    <th>VIN</th>
    <th>Status</th>
  </tr>
  <% @drivers.each do |driver| %>
    <tr>
      <td><%= link_to "#{driver.id}", driver_path(driver)%> </td>
      <td><%= "#{driver.vin}" %> </td>
      <td><%= driver.available ? "Available" : "Unavailable" %> </td>
    </tr>

  <% end %>
</table>
