<h1>Drivers</h1>
<ul>
  <% @drivers.each do |driver| %>
    <li>

      <div>
        Driver: <%= driver.name %>
      </div>
      <div>
        <%= link_to "Show", driver_path(driver.id) %> |
        <%= link_to "Edit", edit_driver_path(driver) %> |
        <%= link_to "Delete", driver_path(driver.id), method: :delete,
                    data: {confirm: 'Are you sure you would like to delete?'} %> |
      </div>
    </li>

  <% end %>
</ul>

