<h1>Drivers</h1>
<h2>Driver List:</h2>

<% if @drivers.length > 0 %>
  <ol>
    <% @drivers.each do |driver| %>
      <li>  <%= link_to driver.name, passenger_path(driver.id)%></li>
    <% end  %>
  </ol>
<% else %>
  <h3>No drivers to display </h3>
<%end %>