<h1>Drivers</h1>
<% if @drivers.length > 0 %>
  <ul>
    <% @drivers.each do |driver| %>
      <li> <%= driver.name %>, <%= driver.vin %>, <%= driver.available %> </li>
    <% end %>
  </ul>
<% else %>
    <p>No drivers in database</p>
<% end %>
