<h1>All Drivers</h1>
<div>
  <%= link_to 'Add new driver', new_driver_path %>
</div>
<ul>
  <% @drivers.each do |driver|  %>
    <li>
      <%= link_to driver.name, driver_path(driver) %>
    </li>
  <% end %>
</ul>


<%#= link_to "New", new_task_path %>