<h3>Rideshare Drivers </h3>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<table>
  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= link_to driver.name, driver_path(driver.id) %></td>
        <td>Rating: </td>
        <td>
          <li>
            <%= link_to "Edit", edit_driver_path(driver.id) %>|
            <%= link_to "Delete", driver_path(driver.id), method: :delete, data: { confirm: "Please confirm deletion." } %>
          </li>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>