<header>
  <h1>Drivers</h1>
</header>
<main>
  <ul>
    <% @drivers.each do |driver|  %>
      <li>
        <%= link_to driver.name, driver_path(driver.id) %>
        <%= button_to "Edit Driver", edit_driver_path(driver.id), method: :get, class: "btn btn-warning btn-sm" %>
        <%= button_to "Delete", driver_path(driver.id), method: :delete, data: { confirm: "Are you sure you want to delete this driver?" }, class: "btn btn-danger btn-sm" %>
      </li>
    <% end %>
    <%= button_to "Add New Driver", new_driver_path, method: :get, class: "btn btn-primary" %>

  </ul>
</main>