<div class="scroll-top"></div>



<h2 class="form-header">ADD DRIVER</h2>

<div class="driver-form">

  <%= render partial: "form", locals: { action_name: "ADD DRIVER" }, class: 'forms' %>

</div>

<div class="bottom-driver"></div>