<h2>Driver Details</h2>

<p>Driver ID: <%= @drivers.id %></p>
<p>Driver Name: <%= @drivers.name %></p>
<p>VIN: <%= @drivers.vin %></p>

<!--Want to create loop that pulls driver trip details  -->
<p><%= link_to "Return to Home", drivers_path %></p>