<h2>Driver Details</h2>

<ul>
  <li>Name: <%= @driver.name %></li>
  <li>VIN: <%= @driver.vin %></li>
  <li>Available? <%= @driver.available %> </li>
</ul>

<%= link_to "Edit Driver Details", edit_driver_path(@driver.id) %>
