<h2> Driver details page </h2>
<p></p>
<h3>This is <%= @driver.name %> driver page</h3>
<p>Driver's name: <%= @driver.name %></p>
<p>VIN: <%= @driver.vin %></p>
<p>Available: <%= @driver.available %></p>
<p>Driver's average rating: ...</p>
<p>Total revenue: ...</p>