/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #fffbee;
}

body {
//     display: flex;
//     flex-direction: column;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 125px auto 40px;
}

main {
    padding: 5px 10px;
//     background-color: #fffbee;
}

header {
    background-color: #00203FFF;
}

.title {
    font-size: 50px;
    text-align: center;
    color: #ADEFD1FF;
}

nav ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 5px 20%;
}

nav li {
    display: inline-block
}

nav a {
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
}

footer {
    flex-shrink: 0;
    padding: 5px 5px;
    background-color: #000000;
    color: #F5F5F5;
    text-align: center;
}

.profile-container {
    display: flex;
    background-color: #7ECFD4;
    padding: 5px 5px;
    align-items: center;
}

.profile-container ul {
    list-style-type: none;
}

.button-box {
    display: flex;
    justify-content: space-around;
    padding: 5px 20%;
}

.button-collect {
    display: inline-block;
}


