// Place all the styles related to the Drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.scroll-top {
    height: 100px;
    width: 100%;
    color: white;
    opacity:0.0;
}

table {
  width: 100%;
  padding: 10px;
}

th {
  height: 50px;
}

th {
  background-color: #8acfd1;
  color: white;
}

td {
  height: 40px;
  text-align: center;
}

.table-link {
    text-decoration: none;
    color: #0067ab;
}

.table-link:hover {
    color: #8acfd1;
}

.table-link:visited {
    color: white;
}

.table-link:visited:hover {
    color: #8acfd1;
}

.table-content {
    color: white;
}

