// Place all the styles related to the drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.sub_line {
    margin-left: 15px;

}

.rating_tab {
margin-left: 300px;
color: red;
}
.driver_list {
    line-height: 1.5;
}

h1 {
    color: #7D4F50;

}