// Place all the styles related to the Drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.scroll-top {
    height: 100px;
    width: 100%;
    color: white;
    opacity:0.0;
}

table {
  width: 100%;
  padding: 10px;
}

th {
  height: 50px;
  background-color: #8acfd1;
  color: white;
}

td {
  height: 40px;
  text-align: center;
}

.table-link {
    text-decoration: none;
    color: #0067ab;
}

.table-link:hover {
    color: #8acfd1;
}

.table-link:visited {
    color: white;
}

.table-link:visited:hover {
    color: #8acfd1;
}

.table-content {
    color: white;
}

.detail-layout {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 15px;
}

.details-header {
    color: #0067ab;
}

.details ul {
    color: #0067ab;
    list-style: none;
    padding-top: 5px;
    line-height: 1.5;
}

.detail-header {
    color: #003c63;
}

.edit-delete div {
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.edit-delete div a {
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 1px #0067ab;
}

#avail {
    color: green;
}

#unavail {
    color: red;
}

