// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.homepage-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
}

.homepage-button1 {background-color: #02c39a}
.homepage-button2 {background-color: #00a896}
.homepage-button3 {background-color: #028090}
.homepage-button4 {background-color: #05668d}

.homepage-button > p {
    height: 2em;
    width: 25em;
    border-radius: 5px;
}

.homepage-button > p:hover { filter: brightness(1.2)}

.request-button {
    background-color: #f7882f;
}