// Place all the styles related to the passengers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.passenger_crud {
     margin-left: 15px;
}

.oops_msg {
    color: red;
}
.errors {
    font-size: 15px;
    color: red;
}

h1 {
    color: #7D4F50;

}

h2 {
    color: #7D4F50;
}