// Place all the styles related to the Passengers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.perfil,{
    display:flex;
    align-items:center;
    flex-direction:row;
    border-radius: 5px;
    background-color: lightblue;
    padding: 20px;
    flex-direction: center;
}

.perfil img{
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 180px;
    height: 200px;
}

.perfil li{
    list-style-type: none;
    display: block;
}

.perfil button{
  margin-top: 20px;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}
