// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

th, td {
    padding: 8px;
    border: 1px solid #00203FFF;

}

tr:nth-child(even) {
    background-color: #f2f2f2;
}